<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Detailr.MVC</title>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>document.getElementsByTagName("html")[0].className += " js";</script>
    <link rel="stylesheet" href="https://unpkg.com/codyhouse-framework/main/assets/css/style.min.css">
    <script src="https://unpkg.com/codyhouse-framework/main/assets/js/util.js"></script>
    <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>

    <link rel="stylesheet" href="~/css/Navbar.css" />
    <link rel="stylesheet" href="~/css/AnimatedMenuButton.css" />

</head>
<body>

    @if (TempData["hideNav"] != "hide") {
        @await (Component.InvokeAsync("Navbar"));
    }


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2023 - Detailr.MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer>*@

    <script src="~/js/AnimatedMenuButton.js"></script>
    <script src="~/js/Collapse.js"></script>
    <script src="~/js/Navbar.js"></script>
    
</body>
</html>
