<div class="container max-width-adaptive-lg padding-y-xxxl js-cd-demo">

    <div class="step-indicator margin-bottom-sm">
        <p class="text-sm color-contrast-medium line-height-xs inline">Step 2 | <span class="hide@md">of 3</span></p>
        <div class="color-contrast-medium text-sm margin-bottom-xs inline">Car Type</div>
    </div>

    <h2 class="color-contrast-medium margin-bottom-sm">What type of car do you have?</h2>

    <div class="grid gap-sm js-choice-imgs" role="radiogroup">

        <div class="choice-img bg-light radius-md col-6@xs col-4@sm col-3@md js-choice-img js-tab-focus" role="radio" aria-checked="true" tabindex="0" aria-label="Option One">
            <div class="padding-sm text-component">
                <h4 class="text-base">SUV</h4>
            </div>

            <div class="choice-img__input" aria-hidden="true">
                <svg class="icon" viewBox="0 0 16 16">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M2 8l4 4 8-8" />
                </svg>
            </div>
        </div>

        <div class="choice-img bg-light radius-md col-6@xs col-4@sm col-3@md js-choice-img js-tab-focus" role="radio" aria-checked="false" tabindex="0" aria-label="Option Two">
       
            <div class="padding-sm text-component">
                <h4 class="text-base">Hatchback</h4>

            </div>

            <div class="choice-img__input" aria-hidden="true">
                <svg class="icon" viewBox="0 0 16 16">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M2 8l4 4 8-8" />
                </svg>
            </div>
        </div>

        <div class="choice-img bg-light radius-md col-6@xs col-4@sm col-3@md js-choice-img js-tab-focus" role="radio" aria-checked="false" tabindex="0" aria-label="Option Three">

            <div class="padding-sm text-component">
                <h4 class="text-base">Saloons</h4>
            </div>

            <div class="choice-img__input" aria-hidden="true">
                <svg class="icon" viewBox="0 0 16 16">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M2 8l4 4 8-8" />
                </svg>
            </div>
        </div>

        <div class="choice-img bg-light radius-md col-6@xs col-4@sm col-3@md js-choice-img js-tab-focus" role="radio" aria-checked="false" tabindex="0" aria-label="Option Four">

            <div class="padding-sm text-component">
                <h4 class="text-base">Coupes</h4>
            </div>

            <div class="choice-img__input" aria-hidden="true">
                <svg class="icon" viewBox="0 0 16 16">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M2 8l4 4 8-8" />
                </svg>
            </div>
        </div>

        <div class="choice-img bg-light radius-md col-6@xs col-4@sm col-3@md js-choice-img js-tab-focus" role="radio" aria-checked="false" tabindex="0" aria-label="Option Five">

            <div class="padding-sm text-component">
                <h4 class="text-base">Estate</h4>
            </div>

            <div class="choice-img__input" aria-hidden="true">
                <svg class="icon" viewBox="0 0 16 16">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M2 8l4 4 8-8" />
                </svg>
            </div>
        </div>

        <div class="choice-img bg-light radius-md col-6@xs col-4@sm col-3@md js-choice-img js-tab-focus" role="radio" aria-checked="false" tabindex="0" aria-label="Option Six">

            <div class="padding-sm text-component">
                <h4 class="text-base">Peple Carrier</h4>
            </div>

            <div class="choice-img__input" aria-hidden="true">
                <svg class="icon" viewBox="0 0 16 16">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M2 8l4 4 8-8" />
                </svg>
            </div>
        </div>

        <div class="choice-img bg-light radius-md col-6@xs col-4@sm col-3@md js-choice-img js-tab-focus" role="radio" aria-checked="false" tabindex="0" aria-label="Option Seven">

            <div class="padding-sm text-component">
                <h4 class="text-base">Sports car</h4>
            </div>

            <div class="choice-img__input" aria-hidden="true">
                <svg class="icon" viewBox="0 0 16 16">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M2 8l4 4 8-8" />
                </svg>
            </div>
        </div>

        <div class="choice-img bg-light radius-md col-6@xs col-4@sm col-3@md js-choice-img js-tab-focus" role="radio" aria-checked="false" tabindex="0" aria-label="Option Eight">

            <div class="padding-sm text-component">
                <h4 class="text-base">Convertiable</h4>
            </div>

            <div class="choice-img__input" aria-hidden="true">
                <svg class="icon" viewBox="0 0 16 16">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M2 8l4 4 8-8" />
                </svg>
            </div>
        </div>

    </div>
</div>
