<div class="container max-width-adaptive-md js-cd-demo">

    <ol class="list-v2 list-v2--ul">
        <li>
            <div class="margin-bottom-xs">
                <h4 class="list-v2__title">
                    <span class="list-v2__bullet" aria-hidden="true"></span>Vehicle type
                </h4>
            </div>

            <div class="list-v2__content">
                <ul class="color-contrast-medium list--v2__vehicle-type">
                    <li>
                        <p class="color-contrast-medium js-list-v2__vehicle-type"></p>
                    </li>
                </ul>
            </div>
        </li>

        <li>
            <div class="margin-bottom-xs">
                <h4 class="list-v2__title">
                    <span class="list-v2__bullet" aria-hidden="true"></span>Custom services
                </h4>
            </div>

            <div class="list-v2__content">
                <div class="text-component">
                    <ul class="color-contrast-medium js-list-v2__custom-serivces list--v2__custom-services"></ul>
                </div>
            </div>
        </li>

        <li>
            <div class="margin-bottom-xs">
                <h4 class="list-v2__title">
                    <span class="list-v2__bullet" aria-hidden="true"></span>Contact Details
                </h4>
            </div>

            <div class="list-v2__content">
                <ul class="color-contract-medium list--v2__contact-details">
                    <li>
                        <p class="color-contrast-medium js-list-v2__contact-details_name"></p>
                    </li>
                    <li>
                        <p class="color-contrast-medium js-list-v2__contact-details_email"></p>
                    </li>
                    <li>
                        <p class="color-contrast-medium js-list-v2__contact-details_phoneNumber"></p>
                    </li>
                </ul>
            </div>
        </li>
    </ol>
</div>