<div class="container max-width-adaptive-md js-cd-demo">

    <div class="text-component margin-bottom-md reveal-fx reveal-fx--translate-up">
        <p class="text-sm color-contrast-medium line-height-xs inline">Step 4 | <span class="hide@md">of 4</span></p>
        <div class="color-contrast-medium text-sm margin-bottom-xs inline">Contact details</div>
        <h1 class="color-contrast-medium">Contact Details</h1>
        <p>These will be passed on to businesses to contact you.</p>
    </div>

    <div class="input-merger padding-0 form-control width-100% grid">
        <input type="text" class="reset input-merger__input min-width-0 col" aria-label="First name" name="firstname" id="firstName" placeholder="First name..." autocomplete="off">
        <input type="email" class="reset input-merger__input min-width-0 col" aria-label="Last name" name="lastname" id="lastName" placeholder="Last Name..." autocomplete="off">
    </div>

    <div class="form-control-wrapper padding-y-md form-control-wrapper--icon-right">
        <input class="form-control" type="text" name="email" id="email" autocomplete="off" placeholder="Email...">

        <svg class="icon" viewBox="0 0 24 24" aria-hidden="true"><g stroke-linecap="square" stroke-linejoin="miter" stroke-width="2" stroke="currentColor" fill="none" stroke-miterlimit="10"><polyline points="1.614 3.558 12 13 22.385 3.559" stroke-linecap="butt"></polyline><rect x="1" y="3" width="22" height="18" rx="2" ry="2"></rect></g></svg>
    </div>

    <div class="input-group">
      <div class="select">
        <select class="select__input reset input-group__tag" name="select-phone-prefix" id="select-phone-prefix">
          <option value="1">UK +44</option>
        </select>
        
        <svg class="icon select__icon color-contrast-medium" aria-hidden="true" viewBox="0 0 16 16"><polyline points="1 5 8 12 15 5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></svg>
      </div>

      <input class="form-control flex-grow" type="text" name="input-phone-x" id="input-phone-x">
    </div>

</div>
