<div class="container max-width-adaptive-md js-cd-demo">

    <div class="text-component margin-bottom-md reveal-fx reveal-fx--translate-up">
        <p class="text-sm color-contrast-medium line-height-xs inline">Step 4 | <span class="hide@md">of 4</span></p>
        <div class="color-contrast-medium text-sm margin-bottom-xs inline">Contact details</div>
        <h1 class="color-contrast-medium">Contact Details</h1>
        <p>These will be passed on to businesses to contact you.</p>
    </div>

    <div class="form-validate js-form-validate" id="contactDetails">
        <fieldset class="margin-bottom-md">
            <div class="margin-bottom-xs">
                <div class="grid gap-xs">

                    <!-- First name -->

                    <div class="col-6@md form-validate__input-wrapper js-form-validate__input-wrapper">
                        <div class="floating-label js-floating-label">
                            <label class="form-label js-form-label" for="firstname">Firstname</label>
                            <input class="form-control js-form-control js-input__firstName width-100%" type="text" name="firstname" id="firstName" placeholder="Firstname" required />
                        </div>
                        <div role="alert" class="form-validate__error-msg bg-error bg-opacity-20% padding-x-xs padding-y-xxs radius-md text-xs color-contrast-higher margin-top-xxs"><p>Please provide your first name.</div>
                    </div>

                    <!--/ First name-->
                    <!-- Last name -->

                    <div class="col-6@md form-validate__input-wrapper js-form-validate__input-wrapper">
                        <div class="floating-label js-floating-label">
                            <label class="form-label js-form-label" for="lastname">Lastname</label>
                            <input class="form-control js-form-control js-input__lastname width-100%" type="text" name="lastname" id="lastName" placeholder="Lastname" required />
                        </div>
                        <div role="alert" class="form-validate__error-msg bg-error bg-opacity-20% padding-x-xs padding-y-xxs radius-md text-xs color-contrast-higher margin-top-xxs"><p>Please provide your last name.</div>
                    </div>

                    <!--/ Last name-->
                    <!-- Email -->

                    <div class="col-6@md form-validate__input-wrapper js-form-validate__input-wrapper">
                        <div class="floating-label js-floating-label margin-top-sm">
                            <label class="form-label js-form-label" for="email">Email</label>
                            <input class="form-control js-form-control js-input__email width-100%" type="text" name="email" id="email" autocomplete="off" placeholder="Email" required data-validate="isValidEmail" />
                        </div>
                        <div role="alert" class="form-validate__error-msg bg-error bg-opacity-20% padding-x-xs padding-y-xxs radius-md text-xs color-contrast-higher margin-top-xxs"><p>Please provide a valid email address.</div>
                    </div>

                    <!--/ Email -->
                    <!-- Phone Number -->

                     <div class="col-6@md form-validate__input-wrapper js-form-validate__input-wrapper">
                        <div class="floating-label js-floating-label margin-top-sm">
                            <label class="form-label js-form-label" for="phoneNumber">Phone number</label>
                            <input class="form-control js-form-control js-input__phoneNumber width-100%" type="text" name="phoneNumber" id="phoneNumber" autocomplete="off" placeholder="Phone number" required data-validate="isValidPhoneNumber" />
                        </div>
                        <div role="alert" class="form-validate__error-msg bg-error bg-opacity-20% padding-x-xs padding-y-xxs radius-md text-xs color-contrast-higher margin-top-xxs"><p>Please provide a valid phone number.</div>
                    </div>

                   
                    <!--/ Phone Number -->

                </div>
            </div>
        </fieldset>
    </div>
</div>



